/* Fuente general y fondo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #cf5a5a;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Estilo de la barra de navegación */
.navbar {
    background-image: url(/images/portada.jpg);
    height: 20vh;
}

#logo {
    width: 35vw;
    height: auto;
    margin-left: -3vw;
}

.categorias-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.categoria {
    color: #d2232a;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #ffe8cc;
    transition: 0.3s;
}

.categoria:hover {
    background-color: #d2232a;
    color: white;
}

/* Estilos del menú */
h2 {
    text-align: center;
    color: #d2232a !important;
    background-color: #ffe8cc;
    border-radius: 20px;
    margin: 23vw;
}
